@page "/fetchdata"
@using DaJet.Blazor
@using DaJet.Metadata.Model
@inject HttpClient Http

<PageTitle>InfoBase</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (infoBase == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }*@
            <tr>
                    <td>@infoBase?.Name</td>
                    <td>@infoBase?.Alias</td>
                    <td>@infoBase?.CompatibilityVersion</td>
                    <td>@infoBase?.Comment</td>
                </tr>
        </tbody>
    </table>
}

@code {
    private InfoBase? infoBase;

    protected override async Task OnInitializedAsync()
    {
        infoBase = await Http.GetFromJsonAsync<InfoBase>("md/dajet-metadata-ms");
    }
}
